.DS_Store
backend/node_modules/
backend/dist/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
# Editor directories and files
backend/.idea
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/.git

client/.idea
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/.git

client/node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

.git